%% Erlang compiler options
{erl_opts, [debug_info]}.

%% elixir support
{deps, [{ rebar_elixir_plugin, ".*", {git, "git://github.com/yrashk/rebar_elixir_plugin"} },
        { elixir, "1.1.*", {git, "git://github.com/elixir-lang/elixir"} },
        { ranch, ".*", {git, "git://github.com/ninenines/ranch.git"} } ]}.

%% Let rebar know about the new plugins
{plugins, [rebar_elixir_compiler, rebar_exunit] }.

{eunit_opts, [debug_info]}.

{lib_dirs, [
  "deps/elixir/lib"
]}.

{port_specs, [{"priv/fix_splitter44.so",    ["c_src/44/*.c"]},
              {"priv/fix_splitter44_xp.so", ["c_src/44_xp/*.c"]}]}.

{port_env, [
  {".*", "CFLAGS", "$CFLAGS -Ic_src -g -Wall -O2"}
]}.
