%% Erlang compiler options
{erl_opts, [debug_info]}.

%% elixir support
{deps, [{ rebar_elixir_plugin, ".*", {git, "git://github.com/yrashk/rebar_elixir_plugin"} },
        { elixir, "1.1.*", {git, "git://github.com/elixir-lang/elixir"} },
        { ranch, ".*", {git, "git://github.com/ninenines/ranch.git"} } ]}.

%% Let rebar know about the new plugins
{plugins, [rebar_elixir_compiler, rebar_exunit] }.

{eunit_opts, [debug_info]}.

{lib_dirs, [
  "deps/elixir/lib"
]}.
